@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

BODY {
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #87CEEB, #fff);
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon-image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon-data {
    position: absolute;
    font-weight: 200;
    font-size: clamp(8px, 5vw, 25px);
    color: #aaa;
    top: 53.5%;
    right: 27%;
}

.pokemon-name {
    color: #708090;
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input-search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 1.5px solid #1C1C1C;
    border-radius: 5px;
    font-weight: 400;
    color: #708090;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 3px 1px #888, -5px 7px 7px #1C1C1C;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    order: 1.5px solid #1C1C1C;
    border-radius: 5px;
    font-size: clamp(5px, 5vw, 1rem);
    font-weight: 400;
    color: #fff;
    background-color: #444;
    box-shadow: -2px 3px 1px #1C1C1C, -4px 6px 7px #000;
}

.button:active {
    box-shadow: inset 4px 4px 0 #222;
    font-size: 0.9rem;
}